/* Overlay */
.overlay {
  z-index: 10;
  position: fixed;
  inset: 0; /* shorthand for top, left, right, and bottom */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-wrapper {
  @include wrapper(500px);
  display: flex;
  flex-direction: column;
  max-height: 90%;
  overflow-y: auto;

  h2 {
    font-family: $base-font;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }
}

/* Detail Input */
.detail-input {
  @include flexbox(column, flex-start);
  width: 140px;
  margin-bottom: 0.5rem;

  label {
    color: $color-text-light;
    @include smallText();
  }

  input,
  select {
    background-color: $color-background-light;
    border-radius: $base-border-radius;
    border: $base-border-thickness solid $color-border;
    padding: 4px 8px;
    width: 100%;
    box-sizing: border-box;
    color: lighten($color-text-base, 10%);
    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }

  input[type="color"] {
    width: 32px;
    padding: 2px;
    border: none;
  }
}

/* Details Group */
.details-group {
  max-width: 296px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}

/* Error Message */
.error-message {
  background-color: lighten($color-error, 50%);
  color: $color-error;
  width: 296px;
  border: 2px solid lighten($color-error, 20%);
  border-radius: $base-border-radius;
  font-size: $font-size-sm;
}

/* Category Icons */
.icons-box {
  @include wrapper();
  max-width: 296px;
  height: 150px;
  overflow-y: auto;
  @include centerFlex(row);
  flex-wrap: wrap;

  div {
    padding: 4px;

    img {
      width: 40px;
    }
  }

  .icon-selected img {
    outline: $base-border-thickness solid $color-text-base;
    border-radius: $base-border-radius;
    background-color: $color-border-light;
  }
}

/* Switch Labels */
.switch-group {
  align-self: center;
  position: relative;
  font-weight: 500;
  margin-bottom: 2rem;

  .switch-expense,
  .switch-earning {
    position: absolute;
    top: 6px;
    z-index: 15;
    pointer-events: none;
    color: $color-background-light-2;
  }

  .switch-expense {
    right: 16px;
  }

  .switch-earning {
    left: 16px;
  }
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 32px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $color-expense;

      &:before {
        transform: translateX(112px);
        background-color: lighten($color-expense, 30%);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-earning;
    border-radius: 34px;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 120px;
      left: 4px;
      bottom: 4px;
      background-color: lighten($color-earning, 30%);
      border-radius: 18px;
      transition: 0.4s;
    }
  }
}
